.card-article {
  width: 26rem;
  height: 39.9rem;
  background: #ffffff;
  border-radius: 0.8rem;
  overflow: hidden;
}

.card-article__img {
  width: 26rem;
  height: 19.476rem;
}

.card-article__body {
  padding-top: 3.424rem;
  padding-left: 2.6rem;
  padding-right: 3.2rem;
  padding-bottom: 1.9rem;
}

.card-article__body-autor {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: #959499;

  margin-bottom: 0.6rem;
}

.card-article__body-title {
  margin-bottom: 0.4rem;
}

.card-article__body-title,
.card-article__body-title__link,
.card-article__body-title__link:link,
.card-article__body-title__link:visited {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: -0.02em;
  color: #2d314e;
}

.card-article__body-title__link:hover {
  color: #77bda3;
}

.card-article__body-content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 20.2rem;
  height: 7.6rem;
}
