.add-article__section {
  padding-right: 16.6rem;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
}

.add-article__title {
  margin-top: 6.8rem;
  margin-bottom: 2rem;
}

.add-article__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.4rem;

  margin-bottom: 7.2rem;
}

.add-article-form {
  align-self: center;
}
