.heading-primary {
  font-style: normal;
  font-weight: 400;
  font-size: 5.3rem;
  line-height: 6.2rem;

  color: #2d314e;
}

.heading-secondary {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 6.2rem;

  letter-spacing: -0.02em;
  color: #2d314e;
}

.heading-tertiary {
  font-style: normal;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 6.2rem;

  letter-spacing: -0.01em;

  color: #2d314e;
}
