.button {
  background: var(--color-primary);
  border-radius: 8.9rem;
  border: none;

  position: relative;
  width: 16.5rem;
  height: 4.5rem;
}

.button:hover {
  background: var(--color-primary-light);
  cursor: pointer;
}

.button__text {
  font-family: 'Public Sans';
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 0.7rem;
}
