.hero {
  margin-left: 16.2rem;
  display: flex;
  flex-direction: row;
  height: 66.5rem;
}

.hero-desc {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding-top: 17.7rem;
}

.hero-desc h1 {
  width: 39.9rem;
  height: 12.4rem;
}

.hero-desc p {
  margin-top: 3rem;
  margin-bottom: 3.7rem;
  width: 44.6rem;
  height: 8.6rem;
}

.hero-img {
  flex-grow: 1;
  position: relative;
}

.hero-img--svg {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-img--mockups {
  position: absolute;
  top: 0;
  right: 0;
  height: 81.8rem;
}
